.container {
  width: 1200px;
  max-width: 100%;
  padding: 4rem 1rem;
  height: fit-content;
  user-select: none;
}

.boxDepoiment {
  width: 50%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-2);
}

.imgDepoiment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDepoiment h2 {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border: 1px solid var(--color-1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentDepoiment span,
.contentDepoiment h4 {
  display: block;
  margin-bottom: 0.5rem;
}

.contentDepoiment span {
  color: #fffb00;
  margin-top: 0.2rem;
}

.contentDepoiment p {
  line-height: 150%;
}

@media (max-width: 500px) {
  .boxDepoiment {
    width: 70%;
  }
}
