.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 40px 0;
  transition: 0.5s;
}

.whatsapp a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 112, 37, 0.836);
  border: 1px solid rgba(0, 112, 37, 0.836);
  border-radius: 40px;
  max-width: 300px;
  position: relative;
  transition: 0.5s;
}

.whatsapp a:hover {
  background-color: rgba(2, 143, 49, 0.836);
  border: 1px solid var(--color-text-gray);
}

.whatsapp a h4 {
  font-size: 2rem;
  line-height: 80%;
  text-align: center;
  color: var(--color-text-white);
  padding: 10px;
}

.whatsapp img {
  width: 80px;
  filter: drop-shadow(2px 2px 2px #000);
}
